section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #409718; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #849b03, #127c2c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #849b03, #127c2c);
  }

  article {
    text-align: center;
    color: white;
    border: 1px solid white;
    padding: 40px;
    box-shadow: 1px 1px 100px 10px rgba(0, 0, 0, 0.8);
  }
